<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {%block title %}
      HOME
      {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand bg-Secondary text-Grey" href="/">Bus management system</a>
          <button class="navbar-toggler" type="but bus management system" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/buses">Buses</a>
              
              <li class="nav-item">
                <a class="nav-link active" href="/ticket">Ticket booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/booking">Booking details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/passengers">Passenger details</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/test">Test</a>
            </li>
{% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome {{current_user.username}}
                </a>
                <ul class="dropdown-menu">
    
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Authentication
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/signup">Signup</a></li>
                <li><a class="dropdown-item" href="login">Login</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block body%}
      {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>