{% extends 'base.html' %}

{%block title %}
SIGN UP
{% endblock title %}

{% block body%}
<br>
{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<h class="text-center bg-warning text-black">SIGN UP</h>

<form action="/signup" method="POST">
    <div class="mb-4">
        <label for="username" class="form-label">User Name</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="signup" class="btn btn-primary">Submit</button>
    <br>
    Already a user<a href="/login">Login</a>
  </form>
      {% endblock body %}

      